.section {
  height: 100vh;
  text-align: center;
  background-color: beige;
  background-image: URL('../../../../assets/home_page_bg_S.jpg');
  /* background-image: URL('../../../../assets/desk.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mainTitle {
  display: inline;
  margin-top: 0;
  margin-block-end: 0em;
  margin-block-start: 0em;
}

.userName {
  font-size: 28px;
  font-weight: 600;
}
