.section {
  height: 100vh;
  text-align: center;
  background-color: beige;
  background-image: URL('../../../../assets/home_page_bg_S.jpg');
  /* background-image: URL('../../../../assets/desk.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.userName {
  font-size: 28px;
  font-weight: 600;
}
