.container {
  padding: 0px 15px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px black solid;
  height: 28px;
}

.authorization {
  display: flex;
  gap: 36px;
}

.forLoggeded {
  display: flex;
  gap: 28px;
  align-items: center;
}

.navText {
  text-decoration: none;
  cursor: pointer;
  color: rgb(7, 7, 7);
  font-weight: 500;
}

.navText:hover {
  color: rgb(20, 89, 238);
}

.btn:hover {
  background-color: rgb(20, 89, 238);
}

.greating {
  font-size: large;
  font-weight: 500;
}

.userName {
  font-size: large;
  font-weight: 700;
}

.btnLogout:hover {
  background-color: rgb(238, 20, 20);
}
