.section {
  padding: 16px;
}

.title {
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

.container {
  display: flex;
  justify-content: space-around;
}
.contactsBlock {
  width: 400px;
}

/* .formBlock {
  width: calc(100% / 2 - 8px);
} */
